<h2> Modelos de produtos </h2>

<section id="product_models">

<div>
    <%= link_to 'Cadastrar novo modelo de produto', new_product_model_path %>
</div>

<% if @product_models.any? %>

    
        <% @product_models.each do |p| %>
        <div>

            <dl>
                <dt>Produto: </dt>
                <dd> <%= link_to p.name, product_model_path(p.id) %> </dd> <br>
                <dt>Código: </dt>
                <dd> <%= p.sku %> </dd> <br>
                <dd> <%= p.supplier.brand_name %> </dd> <br>

            </dl>

        </div>
        <% end %>

<% else %>

   <p> Não há modelos de produtos cadastrados! </p>
   
<% end %>

</section>