<h1> Galpões & Estoque </h1>

<% if @warehouses.any? %>

    <% @warehouses.each do |w| %>

        Nome: <%= link_to(w.name, warehouse_path(w.id)) %>
        Código: <%= w.cod %>
        Cidade: <%= w.city %>
        Área: <%= w.area %> m²

    <% end %>

<% else %>

   <p> Não há galpões cadastrados </p>
   
<% end %>